:root {
  /* Font Family */
  --ff-primary: 'Rubik', sans-serif;
  /* Font Sizes */
  --fs-text-sml: 0.875rem; /* 14px */
  --fs-text-reg: 1rem; /* 16px */
  --fs-heading-sml: 1.125rem; /* 18px */
  --fs-heading-med: 1.25rem; /* 20px */
  --fs-heading-lrg: 2.5rem; /* 40px */
  --fs-display: 5.5rem; /* 64px */


  --fs-550: 1.5rem; /* 24px */
  --fs-600: 1.75rem; /* 28px */
  --fs-650: 2.25rem; /* 36px */

  @media (width > 37.5rem) {
    --fs-text-sml: 1.25rem; /* 20px */
    --fs-heading-sml: 1.75rem; /* 28px */
    --fs-heading-med: 2.25rem; /* 36px */
    --fs-heading-lrg: 4rem; /* 64px */
    --fs-display: 9rem; /* 80px */
  }

  /* Colors */
  --clr-pure-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(220, 37%, 97%);
  --clr-light-bluish: hsl(216, 47%, 78%);
  --clr-gray-navy: hsl(219, 13%, 44%);
  --clr-navy: hsl(215, 27%, 32%);
  --clr-dark-navy: hsl(216, 25%, 25%);
  --clr-light-purple: hsl(278, 100%, 95%);
  --clr-purple: hsl(277, 91%, 56%);
  --clr-green: hsl(151, 70%, 50%);
  --clr-red: hsl(0, 82%, 63%);
  --box-shadow-light: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  --box-shadow-dark: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
  /* Semantic Variables */
  /* ToDo: rename button-background-color to align with React code, 'option-button-bg'? */
  --body-background-color: var(--clr-light-gray);
  --body-color-primary: var(--clr-dark-navy);
  --body-color-accent: var(--clr-gray-navy);
  --button-background-color: var(--clr-pure-white);
  --component-background-color: var(--clr-pure-white);
  --theme-toggle-color: var(--clr-gray-navy);
  --button-box-shadow: var(--box-shadow-light);
  --progress-bar-bg: var(--clr-pure-white);

  /* Spacing */
  --spacing-025: 0.25rem; /* 4px */
  --spacing-050: 0.5rem; /* 8px */
  --spacing-075: 0.75rem; /* 12px */
  --spacing-100: 1rem; /* 16px */
  --spacing-125: 1.25rem; /* 20px */
  --spacing-150: 1.5rem; /* 24px */
  --spacing-175: 1.75rem; /* 28px */
  --spacing-200: 2rem; /* 32px */
  --spacing-250: 2.5rem; /* 40px */
  --spacing-300: 3rem; /* 48px */
  --spacing-400: 4rem; /* 64px */
  --spacing-500: 5rem; /* 80px */
  /* Icon colors */
  --icon-bg__html: hsl(22, 100%, 96%);
  --icon-bg__css: hsl(151, 88%, 94%);
  --icon-bg__js: hsl(225, 100%, 96%);
  --icon-bg__a11y: hsl(278, 100%, 95%);
  /* Focus styles */
  --focus-outline-color: currentColor;
  --focus-outline-offset: 0;
  --focus-outline-style: solid;
  --focus-outline-width: 2px;
  /* Background image for mobile/tablet/desktop */
  --bg-image-url: url('../assets/pattern-background-mobile-light.svg');
  @media (width > 37.5rem) {
    --bg-image-url: url('../assets/pattern-background-tablet-light.svg');
  }
  @media (width > 70rem) {
    --bg-image-url: url('../assets/pattern-background-desktop-light.svg');
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  p,
  li {
    text-wrap: wrap;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  *:focus-visible {
    outline-color: var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
    outline-style: var(--focus-outline-style);
    outline-width: var(--focus-outline-width);
  }

  html {
    font-family: var(--ff-primary);
  }

  body[data-theme='dark'] {
    --body-background-color: var(--clr-dark-navy);
    --body-color-primary: var(--clr-pure-white);
    --body-color-accent: var(--clr-light-bluish);
    --component-background-color: var(--clr-navy);
    --button-background-color: var(--clr-navy);
    --button-box-shadow: var(--box-shadow-dark);
    --theme-toggle-color: var(--clr-pure-white);
    --progress-bar-bg: var(--clr-navy);

    --bg-image-url: url('../assets/pattern-background-mobile-dark.svg');
    @media (width > 37.5rem) {
      --bg-image-url: url('../assets/pattern-background-tablet-dark.svg');
    }
    @media (width > 64rem) {
      --bg-image-url: url('../assets/pattern-background-desktop-dark.svg');
    }
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex; 
    flex-direction: column;
    background-color: var(--body-background-color);
    color: var(--body-color-primary);
    background-image: var(--bg-image-url);
    background-repeat: no-repeat;
    transition: background-color 0.3s ease, background-image 0.3s ease,
      color 0.3s ease;

    @media (width > 64rem) {
      background-size: cover;
      background-position: center;
    }
  }

  /* @media (prefers-color-scheme: dark) {
    body {
      --bg-body: var(--bg-body-dark);
      --text-body: var(--text-body-dark);
      --text-accent: var(--text-accent-dark);
      --bg-button: var(--bg-button-dark);
      --bg-image-url: url('../assets/pattern-background-mobile-dark.svg');

      @media (width > 37.5rem) {
        --bg-image-url: url('../assets/pattern-background-tablet-dark.svg');
      }
      @media (width > 70rem) {
        --bg-image-url: url('../assets/pattern-background-desktop-dark.svg');
      }
    }
  } */

  .main {
    padding-block-start: var(--spacing-200);
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
    text-wrap: balance;
  }

  h2 {
    font-weight: 500;
  }

  h1.heading-welcome {
    font-size: var(--fs-heading-lrg);
    margin-block-end: var(--spacing-100);
    font-weight: 300;

    @media (width > 64rem) {
      margin-block-end: var(--spacing-300);
    }
  }
  .heading-welcome span {
    font-weight: 600;
  }

  .accent-text {
    font-size: var(--fs-text-sml);
    font-style: italic;
    color: var(--body-color-accent);
  }
}

@layer layout {
  body {
    padding-inline: var(--spacing-150);

    @media (width > 37.5rem) {
      padding-inline: var(--spacing-400);
    }
  }
  .wrapper {
    max-width: var(--wrapper-max-width, 1160px);
    margin-inline: auto;
    padding-block: var(--wrapper-padding-block, var(--spacing-200));

    @media (width > 37.5rem) {
      --wrapper-padding-block: 0;
    }
  }

  .grid-columns {
    display: grid;
    /* gap: var(--spacing-250); */

    @media (width > 37.5rem) {
      /* gap: var(--spacing-400); */
    }

    @media (width > 64rem) {
      grid-template-columns: 1fr 1fr;
      /* row-gap: var(--spacing-200);
      column-gap: var(--spacing-200); */
      gap: var(--spacing-200);
    }
  }

  .header-content {
    --wrapper-padding-block: var(--spacing-100);
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (width > 37.5rem) {
      --wrapper-padding-block: var(--spacing-250);
    }

    @media (width > 64rem) {
      --wrapper-padding-block: var(--spacing-500);
    }
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);

    @media (width > 37.5rem) {
      gap: var(--spacing-150);
    }
  }

  .quiz-info {
    margin-block-end: var(--spacing-250);
    /* display: grid; */
    /* gap: var(--spacing-150); */

    @media (width > 37.5rem) {
      margin-block-end: var(--spacing-400);
      /* gap: var(--spacing-250); */
    }
    @media (width > 64rem) {
      margin-block: 0;
      max-width: 465px;
    }
  }

  .quiz-question-info {
    display: grid;

    @media (width > 64rem) {
      padding-block-end: var(--spacing-150);
    }
  }

  .quiz-question-number {
    line-height: 1;
    margin-block-end: var(--spacing-075);

    @media (width > 37.5rem) {
      margin-block-end: var(--spacing-175);
    }
  }

  .quiz-question {
    margin-block-end: var(--spacing-150);
    font-size: var(--fs-heading-med);

    @media (width > 37.5rem) {
      margin-block-end: var(--spacing-250);
    }
  }

  .selection-container {
    margin-block-end: var(--spacing-075);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-075);

    @media (width > 37.5rem) {
      margin-block-end: var(--spacing-200);
      gap: var(--spacing-150);
    }
    @media (width > 64rem) {
      margin-block: 0;
    }
  }

  .quiz-action-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-075);

    @media (width > 37.5rem) {
      gap: var(--spacing-200);
    }
    @media (width > 64rem) {
      grid-column-start: 2;
    }
  }

  .feedback-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-050);

    p {
      line-height: 1;
      font-size: var(--fs-heading-med);
      color: var(--clr-red);
    }
  }

  /* ToDo: consolidate this class and others with '.component-primary' */
  /* - light mode bg: white, -dark mode bg: navy */
  .quiz-result {
    margin-block-end: var(--spacing-075);
    padding: var(--spacing-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-100);
    background-color: var(--component-background-color);
    border-radius: var(--spacing-075);

    @media (width > 37.5rem) {
      margin-block-end: var(--spacing-200);
      padding: var(--spacing-300);
      gap: var(--spacing-250);
    }

    @media (width > 64rem) {
      margin-block-end: 0;
    }
  }

  .results-heading h1,
  .results-heading p {
    font-size: var(--fs-heading-lrg);
    line-height: 1.1;
  }

  .results-heading h1 {
    font-weight: 300;
  }

  .results-heading p {
    font-weight: 500;
  }

  .score-summary {
    text-align: center;
  }

  .final-score {
    font-size: var(--fs-heading-sml);
    line-height: 1.05;
    color: var(--body-color-accent);
  }

  .final-score strong {
    display: block;
    margin-block-end: var(--spacing-100);
    font-size: var(--fs-display);
    color: var(--body-color-primary);
  }
}

@layer components {
  .header-left p {
    font-size: var(--fs-heading-sml);
    font-weight: 500;
    line-height: 1;
  }
  
  .category-badge-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
  }

  .category-badge-wrapper p {
    font-size: var(--fs-heading-sml);
    font-weight: 500;
    line-height: 1;

  }

  .theme-toggle-wrapper {
    line-height: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-050);

    > svg {
      width: 16px;
      height: 16px;

      @media (width > 37.5rem) {
        width: 24px;
        height: 24px;
      }
    }

    @media (width > 37.5rem) {
      gap: var(--spacing-100);
    }

    svg > path {
      fill: var(--theme-toggle-color);
      transition: fill 0.3s ease;
    }
  }

  /* Dark Mode Toggle */
  .toggle-dark-mode {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    border: none;
    width: 32px;
    height: 20px;
    background-color: var(--clr-purple);
    border-radius: 999px;

    @media (width > 37.5rem) {
      width: 48px;
      height: 28px;
    }
  }

  .toggle-dark-mode::after {
    content: '';
    position: absolute;
    background-color: var(--clr-pure-white);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition-property: left;
    transition: 0.2s ease-in-out;
    left: 4px;
    top: 4px;

    @media (width > 37.5rem) {
      width: 20px;
      height: 20px;
    }
  }

  .toggle-dark-mode:checked::after {
    transform: translateX(12px);
    @media (width > 37.5rem) {
      transform: translateX(20px);
    }
  }



  button.button {
    border: none;
    background-color: var(--button-background-color);
    color: var(--body-color-primary);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-100);
    border-radius: var(--spacing-075);
    padding: var(--spacing-075);
    font-size: var(--fs-heading-sml);
    font-weight: 500;
    line-height: 1;
    box-shadow: var(--button-box-shadow);

    @media screen and (--ms-high-contrast: active) {
      border: 2px solid currentColor;
    }

    @media (width > 37.5rem) {
      border-radius: var(--spacing-150);
      gap: var(--spacing-200);
    }

    @media (width > 70rem) {
      padding: var(--spacing-125);
    }
  }

  button.cat-button,
  button.option-button {
    justify-content: flex-start;
  }

  button.cat-button:hover,
  button.cat-button:focus-visible {
    outline: 3px solid var(--clr-purple);
  }

  button.option-button {
    min-height: 64px;
    text-align: left;

    /* padding-inline-end: var(--spacing-250); */
  }

  button.option-button:hover .option-letter,
  button.option-button:focus-visible .option-letter {
    background-color: var(--clr-light-purple);
    color: var(--clr-purple);
  }

  button.option-button.selected:hover .option-letter,
  button.option-button.selected:focus-visible .option-letter,
  button.option-button.selected .option-letter {
    background-color: var(--clr-purple);
    color: var(--clr-pure-white);
  }

  button.option-button:focus-visible {
    outline-color: var(--clr-purple);
  }

  button.option-button.selected {
    outline: 3px solid var(--clr-purple);
  }

  button.submit-option-button {
    width: 100%;
    min-height: 56px;
    justify-content: center;
    background-color: var(--clr-purple);
    color: var(--clr-pure-white);
    transition: opacity 150ms ease-in-out;

    @media (width > 37.5rem) {
      padding-block: var(--spacing-200);
    }
  }

  button.submit-option-button:hover,
  button.submit-option-button:focus-visible {
    opacity: 0.7;
  }

  button.submit-option-button:disabled {
    cursor: not-allowed;
  }

  /* Handle icons and icon BGs */
  /* ToDo: also for styling answer letters */
  button img.icon,
  .option-button .option-letter,
  .category-badge-wrapper img.icon {
    display: inline-block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    padding: var(--spacing-025);
    border-radius: 6px;

    @media (width > 37.5rem) {
      width: 56px;
      height: 56px;
    }

    &.icon-feedback {
      margin-inline-start: auto;
    }
  }

  .option-button .option-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-gray);
    color: var(--clr-gray-navy);
  }

  button.option-button.selected.correct {
    outline-color: var(--clr-green);

    > span.option-letter {
      background-color: var(--clr-green);
    }
  }

  button.option-button.selected.incorrect {
    outline-color: var(--clr-red);

    > span.option-letter {
      background-color: var(--clr-red);
    }
  }

  /* .option-button.selected .option-letter {
    background-color: var(--clr-purple);
    color: var(--clr-pure-white);
  } */

  .cat-button img.icon,
  .category-badge-wrapper img.icon {
    &.answer-icon {
      background-color: var(--clr-gray-navy);
    }
    &.cat-html {
      background-color: var(--icon-bg__html);
    }
    &.cat-css {
      background-color: var(--icon-bg__css);
    }
    &.cat-javascript {
      background-color: var(--icon-bg__js);
    }
    &.cat-accessibility {
      background-color: var(--icon-bg__a11y);
    }
  }

  .progress-bar-wrapper {
    height: 16px;
    display: flex;
    align-items: center;;
    padding: var(--spacing-025);
    background-color: var(--progress-bar-bg);
    border-radius: 999px;

    @media (width > 64rem) {
      align-self: end;
    }
  }

  .progress-bar {
    height: 8px;
    background-color: var(--clr-purple);
    border-radius: 104px;
    transition: width 0.3s ease-in-out;
  }
}

@layer utilities {
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
